@media screen and (max-width: 1024px) {

    .top_login input {
        max-width: 135px;
    }

    .navbar-brand img {
        max-height: 80px
    }

    .inner_filter .field_wrapper {
        display: block !important;
        width: 50%;
        float: left;
        max-width: 100% !important
    }

    .inner_filter .field_wrapper select, .inner_filter .field_wrapper input {
        width: 230px;
        max-width: 100% !important
    }

    .inner_filter .hide_frm_small {
        display: none
    }

    .background_stripe {
        margin-bottom: 20px
    }

    .jrscouting img:nth-child(5) {
        position: initial;
        display: inline-block
    }

    .jrscouting img:nth-child(4) {
        position: initial;
        display: inline-block
    }

    .jrscouting img:nth-child(3) {
        position: initial;
        display: inline-block
    }

    .jrscouting img:nth-child(2) {
        position: initial;
        display: inline-block
    }

    .jrscouting img:nth-child(1) {
        position: initial;
        display: inline-block
    }

}

@media screen and (max-width: 991px) {

    html #footer {
        padding: 0;
        height: 200px;
    }

    .footer_left, .footer_middle, .footer_right {
        text-align: center;
    }

    .footer_right ul {
        float: none;
        padding-top: 50px
    }

    .navbar-brand img {
        max-height: 70px;
        margin-top: -15px
    }

    .top_nav_wrapper li > a {
        padding: 10px 10px
    }

    .btn-theme {
        margin: 5px 50px
    }

    input.name_field {
        min-width: 30px !important;
        max-width: 100% !important
    }

    .filter_wrapper label {
        color: #ffffff;
        font-weight: normal;
        margin-right: 5px
    }

    .filter_wrapper input, .filter_wrapper input:focus, .filter_wrapper select, .filter_wrapper select:focus {
        margin-right: 10px
    }

    .middlepart_wrapper .leftpart {
        padding-right: 15px
    }

    .middlepart_wrapper .rightpart {
        padding-left: 15px
    }

    .inner_filter .field_wrapper {
        display: block !important;
        width: 50%;
        float: left
    }

    .inner_filter .field_wrapper label {
        width: 200px
    }

    .inner_filter .field_wrapper select, .inner_filter .field_wrapper input {
        width: 200px;
    }

    .inner_filter .hide_frm_small {
        display: none
    }

}

@media screen and (max-width: 768px) {
    .top_nav_wrapper {
        padding: 20px 0 0 0;
        background: #fff
    }

    .navbar-header.go-right {
        padding-bottom: 20px
    }

    .navbar-brand img {
        max-height: 58px
    }

    .fix-nav .navbar-brand img {
        max-height: 58px
    }

    .top_nav_wrapper li > a {
        padding: 6px 12px
    }

    .navbar {
        margin-bottom: 0
    }

    .carousel-control.left img,
    .carousel-control.right img {
        height: 100px
    }

    .carousel-control.left {
        padding: 0px;
        top: calc(50% - 50px);
        left: 15px;
    }

    .carousel-control.right {
        padding: 0px;
        top: calc(50% - 50px);
        right: 50px;
    }

    #footer ul {
        margin: 4px 0 0 0;
    }

    .agenda_item_wrapper .right_part {
        height: auto;
        width: 100%;
        padding: 0px 0px 0 5px;
        background: #ffffff
    }

    .inner_filter .field_wrapper {
        display: block !important;
        width: 50%;
        float: left
    }

    .inner_filter .field_wrapper label {
        width: 200px
    }

    .inner_filter .field_wrapper select, .inner_filter .field_wrapper input {
        width: 320px;
    }

    .inner_filter .hide_frm_small {
        display: none
    }

    .filter_wrapper {
        padding-bottom: 70px
    }

    .atoz {
        width: 20.5%;
        margin: 0 2%;
        position: relative;
        display: inline-block;
        vertical-align: top
    }
}

@media screen and (max-width: 767px) {

}

@media screen and ( max-width: 640px ) {
    .top_login {
        width: 100%
    }

    .top_login .form-group {
        width: 100%
    }

    .top_login input {
        max-width: 100%
    }

    .top_bar_wrapper .dropdown {
        margin-top: 0;
        margin-bottom: 5px
    }

    .top_login .form-group {
        width: 46%
    }

    .inner_filter .field_wrapper {
        display: block !important;
        width: 100%;
        float: left;
    }

    .inner_filter .field_wrapper input, .inner_filter .field_wrapper select {
        padding-right: 0;
        width: 100%
    }

    .inner_filter .btn-danger {
        margin-right: 0
    }

    .atoz {
        width: 28%;
        margin: 0 2%;
        position: relative;
        display: inline-block;
        vertical-align: top
    }
}

@media screen and ( max-width: 480px ) {

}

@media screen and ( max-width: 360px ) {
    .atoz {
        width: 45%;
        margin: 0 2%;
        position: relative;
        display: inline-block;
        vertical-align: top
    }

    .cardtype_wrapper ul li {
        margin: 0 2px
    }

}

@media screen and ( max-width: 320px ) {
    .navbar-header.go-right {
        padding-bottom: 0px;
    }

    .top_login .form-group {
        width: 45%
    }
}
